/*=================================
  ||    AUTHOR = Felicia Jacobson    ||
  =================================*/
@font-face {
  font-family: horror;
  src: url('fonts/Horror.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: lemon;
  src: url('fonts/Lemonjelly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: trancity;
  src: url('fonts/Transcity.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: night;
  src: url('fonts/night3Dregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: comfort;
  src: url('fonts/comfortable.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: toybox;
  src: url('fonts/ToyBox.ttf') format('truetype'),
       url('fonts/ToyBox.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: toybox;
  src: url('fonts/ToyBox italic.ttf') format('truetype'),
       url('fonts/ToyBox italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: nunito;
  src: url('fonts2/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url('fonts2/Nunito_Sans/NunitoSans-Light.ttf') format('truetype');
  -webkit-font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url('fonts2/Nunito_Sans/NunitoSans-LightItalic.ttf') format('truetype');
  -webkit-font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: nunito;
  src: url('fonts2/Nunito_Sans/NunitoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: nunito;
  src: url('fonts2/Nunito_Sans/NunitoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url('fonts2/Nunito_Sans/NunitoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: braga;
  src: url('fonts/Braga.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: acme;
  src: url('fonts2/Acme/Acme.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: alfa;
  src: url('fonts2/Alfa_Slab_One/AlfaSlabOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: do;
  src: url('fonts2/Do_Hyeon/DoHyeon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: indie;
  src: url('fonts2/Indie_Flower/IndieFlower.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('fonts2/Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('fonts2/Raleway/static/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: raleway;
  src: url('fonts2/Raleway/static/Raleway-Medium.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('fonts2/Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('fonts2/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
  -webkit-font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: satisfy;
  src: url('fonts2/Satisfy/Satisfy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: cugette;
  src: url('fonts2/Courgette/Courgette-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: longcang;
  src: url('fonts2/Long_Cang/LongCang-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*===============================================
  ||    [Copyright 2024 All Rights Reserved]   ||
  ===============================================*/
